{! "whole content in one section" layout !}
<section id="in_content">

	<p><a href="{baseURL}/changephrase/{_id}">Changephrase</a></p>

	<form method="POST" action="{baseURL}/delete/{_id}">
	  <input type="submit" value="Delete" />
	</form>

	{! {XYZ} are Dust-template placeholders (http://akdubya.github.com/dustjs/).
	They will be replaced with XYZ if XYZ is passed to dust. (see lib/shows.js -- exports.phrase and rewrite.js) !}
	<h1>Title: {title}</h1>
	
	<p>Text: {text}</p>
	
	<p>Created: {created}</p>
	<p>Creator: {creator}</p>
	
	<p>Id: {_id}</p>
	<p>Rev: {_rev}</p>

</section>
