{! "whole content in one section" layout !}
<section id="in_content">

	<h1>Startpage</h1>

	<p>This app is based on the minimalistic <a target="_blank"href="http://en.wikipedia.org/wiki/Create,_read,_update_and_delete">CRUD</a> App that shows how operations on CouchDB are made with the <a href="http://www.kansojs.org">Kanso Framework</a>.<br/> You can find it on <a href="https://github.com/descartes1/Kanso-CRUD">github</a></p>

	<p>So whats new here?</p>
	<ul>
		<li>Use of widgets in lib/types.js</li>
		<li>Included CSS in static/style.css</li>
		<li>Rearranged the templates skeleton in templates/*.html<br />Note:<br />Do not use "<strong>}</strong>", "<strong>{</strong>" or "<strong>:</strong>" within HTML comments in templates. This will cause problems, which are difficult to track down. <br />Use Dust's template comments instead: "Comments, which do not appear in template output, begin and end with a bang (!)"</li>
		<li>Integrated jquery UI (jquery-ui-1.8.16.custom.min.js) and replaced jquery jquery-1.5.2.min.js through jquery-1.6.2.min.js<br />(This is what you get, if you go to <a href="http://www.jqueryui.com">http://www.jqueryui.com</a> and do a download.)</li>
		<li>Demonstration of event handler in the Footer (for content that doesn't change)</li>
		<li>Demonstration of event handler jQuery UI Demo (for content that does change)</li>
	<ul>

</section>
